extends layout.pug 
include utils.pug 

block content
  div.py-2
    h3: em at Attraction: #{visit.attraction.attractionName}
    h4: em at Park: #{park.parkName}
    div
      ul  
        li= `Visited On: ${visit.visitedOn}`
        li= `Raiting: ${visit.raiting}`
        li= `Comments: ${visit.comments}`

    div.py-4
      if locals.authenticated
        if visit.userId === locals.user.id
          a.btn.btn-primary(href=`/visit/edit/${visit.id}`) Edit 
          a.btn.btn-danger.ml-2(href=`/visit/delete/${visit.id}`) Delete 
      a.btn.btn-warning.ml-2(href=`/attraction/${visit.attractionId}`) Return to Attraction Details
    




  